#URL mapping for REST API Demo
DirectoryIndex index.html index.php main.html main.php 
Options +FollowSymLinks

RewriteEngine on

#File handling / WIP
AddType application/octect-stream .pdf 
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.+)\.pdf$  /api/pdf.php?file=$1 [L,NC,QSA]

#forbidden section
RewriteRule "\.exe" "-" [F]

#rewrite rules
RewriteRule ^results/?username=(\w{16})$ entity/quizResults.php?uName=$1 [NC]
RewriteRule ^account/$ api/handleAccount.php [NC]
