#URL mapping for REST API Demo
RewriteEngine on

RewriteRule ^menuService/items$ api/menuItemService.php [NC]
RewriteRule ^menuService/items/([0-9]+)$ api/menuItemService.php?itemid=$1 [NC]
RewriteRule ^menuService/categories$ api/menuCategoryService.php [NC]
RewriteRule ^menuService/categories/(\w{3})$ api/menuCategoryService.php?categoryid=$1 [NC]


