@charset "utf-8";
/* CSS Document */

body {
	background-color: #F2F2F2;
        overflow-x:hidden;
}

.quizcontainer {
	margin: 0%;
}
.header {
	background-color: #A61F2B;
	text-align: center;
	padding-bottom: 5%;
	padding-top: 10%;
	font-family: 'Montserrat', san-serif;
	color: #B7B7B7;
}

.header h1 {
	color: #F2F2F2;
	font-size: 600%;
	margin: 0;
}

.main {
	background-color: #F2F2F2;
}

.lines {
		border-right-style: outset;
	border-left-style: outset;
	border-color: #1C1426;
}

.login {
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 10%;
	margin-bottom: 20%;
	background-color: #A61F2B;
	font-family: "Lato";
	color: #F2F2F2;
	
}

.login h2 {
	text-align: center;
}

.login h3 {
	text-align: center;
}

.login button {
	
	background-color: #1C1426;
	border-color: #07050A;
}

.login button:hover {
	
	background-color: #312244;
	border-color: #322445;
}

.login button:active {
		background-color: #1C1426;
	border-color: #07050A;
}

.login a {
	color: #F2F2F2;
}

.login a:hover {
	color: #1C1426;
}

 a {
	color: #1C1426;
}

a:hover {
	color: #1C1426;
}

.footer {
	background-color:#B4B8B8;
	text-align: center;
	font-family: 'Abel';
	padding: 2%;
	margin: 0%;
}

.center {
	text-align: center;
}

.guest button {
	overflow-wrap: break-word;
}

.popularQuiz {
	text-align: left;
	font-size: 150%;
}

.showQuizzes {
		overflow: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 200px;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.searchResults {
	color: #1C1426;
	display: inline;
	padding: 50%;
	overflow: scroll;
	width: 80%;
}

.searchResults h2 {
	color:#F2F2F2;
}

.searchResults h4 {
	color:#F2F2F2;
}

.searchQuiz {
	color: #1C1426;
	display: inline;
	padding: 50%;
	overflow: scroll;
	width: 80%;
}

.searchQuiz h2 {
	color:#F2F2F2;
}

.searchQuiz h4 {
	color:#F2F2F2;
}

.toTheLeft {
    display: inline;
    float: left;
}

.toTheRight {
    display: inline;
}

.user {
	font-weight: bold;
}

.black {
	background: rgba(0,0,0,0.55);
}

.grey {
	background: rgba(0,0,0,0.25);
}

.password {
	padding-bottom: 5%;
}

.password h3 {
	text-align: left;
}

.delete {
	padding-bottom: 5%;
}

.delete h3 {
	
	text-align: left;
	padding-left: 1%;
	
}

.createUser {
	padding-bottom: 5%;
}

.createQuestion h3 {
	
	text-align: left;
	padding-left: 1%;
	
}

.createQuestion {
	padding-bottom: 1%;
}

.error {color: #FF0000;}

.fish img {
    position: relative;
    height: 50%;
    width: 50%;
    left:26%;
    right:40%;
    text-align: center;
}